name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-linux-x86:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cd src && make -f Makefile.linux-x86
      - name: Test
        run: ./loda test
      - name: Benchmark
        run: ./loda benchmark
  build-linux-arm64:
    runs-on:
      - self-hosted
      - Linux
      - ARM64
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cd src && make -f Makefile.linux-arm64
      - name: Test
        run: ./loda test
  build-macos-11:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cd src && make
      - name: Test
        run: ./loda test
      - name: Benchmark
        run: ./loda benchmark
  build-windows-2019:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build
        run: cd src && nmake.exe /F Makefile.windows
      - name: Test
        run: ./loda.exe test
      - name: Benchmark
        run: ./loda.exe benchmark
